@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #3c87ff;
  overflow: hidden;
}

.controls,
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  max-width: 405px;
  margin: 135px auto;
  padding: 28px 0;
  background: #fff;
  border-radius: 7px;

  .task-input {
    height: 52px;
    padding: 0 25px;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      transform: translate(17px, -50%);
    }

    input {
      height: 100%;
      width: 100%;
      padding: 0 20px 0 53px;
      font-size: 18px;
      border-radius: 5px;
      border: 1px solid #999;
      outline: none;
    }
    input::placeholder {
      color: #bfbfbf;
    }
  }

  .controls {
    padding: 18px 25px;
    border-bottom: 1px solid #ccc;

    .filters {
      span {
        cursor: pointer;
        margin: 0 8px;
        font-size: 17px;
      }

      span:first-child {
        margin-left: 0;
      }

      .active {
        color: #3c87ff;
      }
    }

    .clear-btn {
      outline: none;
      border: none;
      color: #fff;
      background: #3c87ff;
      padding: 7px 13px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 13px;
    }
  }
}

.task-box {
  margin: 20px 25px;

  .task {
    list-style: none;
    font-size: 17px;
    margin-bottom: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 16px;

    .task:last-child {
      margin-bottom: 0;
      border-bottom: 0;
      padding-bottom: 0;
    }

    label {
      display: flex;

      input {
        margin-top: 6px;
        margin-right: 12px;
      }

      .checked {
        text-decoration: line-through;
      }
    }

    .settings {
      cursor: pointer;
      position: relative;

      .task-menu {
        position: absolute;
        background: #fff;
        padding: 5px 0;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        z-index: 2;
        right: -5px;
        bottom: -65px;
        transform: scale(0);
        transform-origin: top right;
        transition: transform 0.2s ease;

        li {
          height: 25px;
          font-size: 16px;
          margin-bottom: 2px;
          justify-content: flex-start;
          padding: 17px 15px;

          i {
            padding-right: 8px;
          }
        }
        li:hover {
          background: #f5f5f5;
        }

        li:last-child {
          margin-bottom: 0;
        }
      }
      .show {
        transform: scale(1);
      }
    }
  }
}
